<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Key</key>
		<string>mk1</string>
		<key>Secure</key>
		<true/>
		<key>Title</key>
		<string>1行</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>mk2</string>
		<key>Secure</key>
		<true/>
		<key>Title</key>
		<string>2行</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>mk3</string>
		<key>Secure</key>
		<true/>
		<key>Title</key>
		<string>3行</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>mk4</string>
		<key>Secure</key>
		<true/>
		<key>Title</key>
		<string>4行</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>mk5</string>
		<key>Password</key>
		<false/>
		<key>Secure</key>
		<true/>
		<key>Title</key>
		<string>5行</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>mk6</string>
		<key>Secure</key>
		<true/>
		<key>Title</key>
		<string>6行 </string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string></string>
		<key>Key</key>
		<string>mk7</string>
		<key>Secure</key>
		<true/>
		<key>Title</key>
		<string>7行</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
</array>
</plist>
